$navbarHeight: 35px;

.button {
  outline: none;
  font-family: Poppins;
  padding: 0.1em 0.5em;
  color: white;
  border: none;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.185);
  background: $mainButtonBackground;
  border-radius: 2px;
  color: $lighterText;
  font-size: 0.7em;
  cursor: pointer;
  padding-top: 0.2em;
  svg {
    margin-right: 0.5em;
  }
  &:hover {
    background: darken($mainButtonBackground, 3%);
  }

  &--disabled,
  &--disabled:hover {
    background: lighten($middleDark, 15%);
    // put normal cursor
    cursor: default;
  }
}
