@import "../../sass/base.scss";

nav {
  display: block;
  width: 100%;
  -webkit-app-region: drag;
  background: darken($mainDark, 10%);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  height: $navbarHeight;
  overflow: hidden;

  .nav-links {
    -webkit-app-region: no-drag;
    display: inline-block;
    .nav-link {
      display: inline-block;
      padding: 0.8em 1em;
      color: lighten($mainText, 20%);
      font-size: 0.7em;
      text-decoration: none;

      &:hover:not(.nav-link--active) {
        background: darken($mainDark, 5%);
      }

      &--active {
        color: white;
        background: darken($mainDark, 3%);
      }
    }
  }

  .nav-buttons {
    -webkit-app-region: no-drag;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;

    .nav-button {
      display: inline-block;
      padding: 0.6em 0.8em;
      color: white;
      position: relative;
      font-size: 0.9em;

      &:hover {
        cursor: pointer;
        background: darken($mainDark, 5%);
      }

      .fa-window-minimize {
        transform: translateY(-3px);
      }

      .fa-cog {
        font-size: 0.95em;
      }
    }
  }
}
