@import "../../sass/base.scss";
.link-list-generator {
  color: $lighterText;

  .link-list {
    textarea {
      width: 100%;
      margin: 1em auto 0.5em auto;
      display: block;
      padding: 0.5em;
      font-family: Poppins;
      background: $mainDark;
      outline: none;
      color: $lighterText;
      resize: none;
      height: 150px;
      font-size: 0.7em;
    }
    small {
      color: $mainText;
      font-size: 0.7em;
    }

    .button--red {
      margin-left: 1em;
    }
  }

  .valid-link-list {
    ul {
      margin-top: 0.7em;
      height: 150px;
      overflow-y: scroll;
      border: 1px solid grey;
      padding: 0.5em;
      margin-bottom: 0.5em;
      li {
        display: block;
        font-size: 0.7em;
        span {
          margin-right: 0.5em;
        }
        a {
          color: lighten($mainText, 20%);
        }
      }
    }
  }

  .results-list {
    &__results {
      padding: 0.5em;
      margin-top: 0.5em;
      border: 1px solid grey;
      font-size: 0.8em;
      overflow: auto;
      height: 150px;
      margin-bottom: 0.5em;
      user-select: text;
    }

    &__result:not(:last-child) {
      margin-bottom: 1em;
      border-bottom: 1px solid grey;
      padding-bottom: 0.5em;
    }

    p.link {
      margin-bottom: 0.5em;
      a {
        color: $lighterText;
        font-size: 1.2em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .sublinks {
      .button {
        margin: 1em auto 0.5em auto;
      }
      a {
        color: lighten($mainText, 5%);
        font-size: 0.9em;
        display: inline-block;
        text-decoration: underline;

        &:hover {
          color: lighten($mainText, 10%);
        }
      }
    }
  }

  .link-generation-process {
    margin-top: 0.5em;
    overflow: auto;
    max-height: 200px;

    h1 {
      margin: 0.5em auto;
      margin-bottom: 0;
      a {
        font-weight: lighter;
        margin-left: 0.5em;
        font-size: 0.6em;
        display: inline-block;
        max-width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: translateY(3px);
      }
    }

    p {
      font-size: 0.9em;

      a {
        margin-left: 0.5em;
      }

      &.checking {
        font-size: 1em;
      }
    }

    a {
      color: $mainText;
      font-size: 0.8em;

      &:hover {
        color: $lighterText;
      }
    }

    .link-process-detail {
      padding: 0.5em 0;

      &__title {
        position: relative;
        &:hover {
          cursor: pointer;

          svg {
            color: $lighterText;
          }
        }
      }
      svg {
        position: absolute;
        right: 1em;
        top: 50%;
        color: $mainText;
        transform: translateY(-50%);
      }

      p {
        color: $lighterText;
      }
      &:not(:last-child) {
        border-bottom: 1px solid grey;
      }

      &__links {
        display: none;
        overflow: auto;
        max-height: 120px;

        &--visible {
          display: block;
        }

        a {
          font-size: 0.7em;

          display: inline-block;
          max-width: 680px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transform: translateY(3px);
        }
      }
    }
  }
}
